body {
    font-family: 'Raleway', sans-serif;
  }

  .logo{
    font-family: 'Lobster', cursive;

  }

  header {
    background-image: url('../img/imagen2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10rem;
    text-shadow: 0.125em 0.25em 0.125em #707070;
    


  }